*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;  
 
}
body{
  background-image: url(/back.jpg);  
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navbar {
  display: flex;
  align-items: center;             
  justify-content: space-between;  
  padding: 10px; 
  position: sticky;        
  top: 0;
  background-color: white;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.866) 0px 4px 6px -9px  ;
}
.Dev{
  font-size: 1.7rem;
  margin:0;
  display:inline-block;
  font-weight: bold;
  
}
.nav-menu{
  display: flex;
  gap: 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
.navbar:hover{
  cursor: pointer;
}
.main-body{
  margin: 50px auto;
  text-align: center;
}
.p1,.p4{
  font-size: 1.2rem;
}
.p2{
  font-size: 3rem;
   font-weight: bold;
}
.p3{
  font-size: 2.2rem;
}
img{
  width: 40px;
  height: 40px;
}
.workdisplay{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
  text-align: center;
}
button{
  padding: 0px 7px;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  background-color: #08a36f;
  color: white;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}
button:hover{
  background-color: #066a4a;
  transform: scale(1.05);
}
a{
  transition: box-shadow 0.4s ease,transform 0.5s ease-in-out;
}
a:hover{
  filter: drop-shadow(0 0 12px rgba(17, 140, 240, 0.8));
  transform: scale(1.1);
}
.about-section{
  margin-top: 220px ;
  text-align: center;
  background-color: rgba(70, 60, 60, 0.086);
  border-radius: 30px;
  padding: 25px 30px ;
  font-size: 1rem;
  margin-left: 50px;
  margin-right: 50px;
  transition: transform 0.6s ease;
}
.about-section:hover{
  transform: scale(1.05);
}
.specs{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.specs button{
  padding: 10px 15px;
  font-size: 1rem;
  background-color: rgba(0, 0, 3, 0.137);
  color: black;
  font-weight: bold;
}