/* ---------------- Global Reset ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  scroll-behavior: smooth;
}

body {
  background-image: url(/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
  background-image: url(/back2.png);
  color: white;
}

body.dark-mode .navbar {
  background-color: #121212f0;
}

body.dark-mode .navbar a
{
  color: white;
}
body.dark-mode .b1,
body.dark-mode .b2,
body.dark-mode .b3,
body.dark-mode .b4 {
  color: rgba(255, 255, 255, 0.949)
}
body.dark-mode .Tech-list span{
  color: white;
}
body.dark-mode .projects-des {
  color: hsl(0, 0%, 100%);
}

body.dark-mode .projects .des1,
body.dark-mode .projects .des2,
body.dark-mode .projects .des3 {
 color: #000000;
}
body.dark-mode .hamburger span {
  background-color: white;
}

body.dark-mode .nav-menu {
  background-color: #121212;
}


/* ---------------- Headings & Titles ---------------- */
h1, h2, h3, h4, h5, h6, .Dev {
  text-shadow: 0 0 5px #eeeeee;
}

body.dark-mode h1, 
body.dark-mode h2, 
body.dark-mode h3, 
body.dark-mode h4, 
body.dark-mode h5, 
body.dark-mode h6, 
body.dark-mode .Dev {
  text-shadow: none;
}

/* ---------------- Navbar ---------------- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.736) 0px 4px 6px -9px;
}

.navbar a {
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
  color: black;
}

.navbar li {
  list-style: none;
}

.nav-menu {
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

/* Brand */
.Dev {
  font-size: 1.7rem;
  font-weight: bold;
  display: inline-block;
}

/* Hover */
.navbar:hover {
  cursor: pointer;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.35s ease;
}
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
/* ================== MOBILE NAVBAR ================== */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: fixed;
    top: 60px;
    right: 0;
    height: calc(100vh - 60px);
    width: 220px;

    background-color: white;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-menu.active {
    transform: translateX(0);
  }
}

/* ---------------- Main Body ---------------- */
.main-body {
  margin: 50px auto;
  text-align: center;
}

/* Paragraphs & titles */
.p1, .p4 {
  font-size: 1.2rem;
}

.p2 {
  font-size: 3rem;
  font-weight: bold;
}

.p3 {
  font-size: 2.2rem;
}

/* Images */
img {
  width: 40px;
  height: 40px;
}
.about-section,
.about-section button,
.tech p,
.Tech-list span,
.projects p,
.contact-section p{
   text-shadow: 0 0 4px #eeeeee;
}
body.dark-mode .about-section,
body.dark-mode .about-section button,
body.dark-mode .tech p,
body.dark-mode .Tech-list span,
body.dark-mode .projects p,
body.dark-mode .contact-section p{
   text-shadow: none;
}

/* ---------------- Work Display / Projects ---------------- */
.workdisplay {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
  text-align: center;
}
body.dark-mode .projects-des {
  color: hsl(0, 0%, 100%);
}

button {
  padding: 0px 6px;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  background-color: #08a36f;
  color: white;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

button:hover {
  background-color: #066a4a;
  transform: scale(1.05);
}

/* Links in projects */
.workdisplay a {
  transition: box-shadow 0.4s ease, transform 0.5s ease-in-out;
}

.workdisplay a:hover {
  filter: drop-shadow(0 0 12px rgba(17, 140, 240, 0.8));
  transform: scale(1.1);
}

/* ---------------- Sections ---------------- */
.about-section {
  margin-top: 220px;
  text-align: center;
  background-color: rgba(95, 83, 83, 0.219);
  border-radius: 30px;
  padding: 25px 30px;
  font-size: 1rem;
  margin-left: 50px;
  margin-right: 50px;
  transition: transform 0.6s ease;
}

.about-section:hover {
  transform: scale(1.02);
}
.specs button:hover {
 filter: drop-shadow(0 0 12px rgba(12, 97, 168, 0.8))
}

/* ---------------- Specs Buttons ---------------- */
.specs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.specs button {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: rgba(0, 0, 3, 0.223);
  color: black;
  font-weight: bold;
}

/* ---------------- Tech Section ---------------- */
.tech {
  text-align: center;
  margin-top: 100px;
}

.tech h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.tech span {
  font-size: 1.2rem;
  color: #333333;
}

.Tech-list {
  display:flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap:30px;
  margin: 10px auto;
  border-radius: 20px;
  padding: 5px 50px;
}

.Tech-list img {
  width: 62px;
  height: 60px;
  transition: transform 0.4s ease-in-out;
}

.Tech-list img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 12px rgba(17, 140, 240, 0.8));
}

.Tech-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}

/* ---------------- Projects ---------------- */
.projects {
  text-align: center;
  margin-top: 100px;
}

.project-cards {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

.Luxury-Store,
.Travel-Journal,
.Chef-Claude {
  width: 280px;
  background: #ebe3e3;
  border-radius: 16px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 8px 25px rgba(21, 19, 19, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-right: 20px;
}

.Luxury-Store img,
.Travel-Journal img,
.Chef-Claude img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.Luxury-Store a,
.Travel-Journal a,
.Chef-Claude a {
  padding: 12px;
  font-size: 16px;
  color: #141414;
  text-decoration: none;
  font-weight: bold;
}

.Luxury-Store:hover,
.Travel-Journal:hover,
.Chef-Claude:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

.project-cards p {
  font-size: 0.8rem;
  text-align: justify;
  padding: 10px;
  margin: 5px 5px;
  font-family:"Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.view-more-button {
  margin: 30px auto;
  padding: 5px 15px;
  background-color: #047551;
}
.view-more-button:hover {
  background-color: #078c50;
}

/* ---------------- Contact ---------------- */
.contact-section {
  max-width: 900px;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.contact-section h1,
.contact-section p {
  text-align: center;
}

.contact-content {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  background-color: #cbd1cf4e;
  border-radius: 10px;
  padding: 20px;
}

.message-form {
  flex: 1;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.message-form label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.message-form input,
.message-form textarea {
  margin-top: 6px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #ffffff;
  color: #000000;
}

.message-form button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  background: #0f8bf1;
  color: #fff;
  cursor: pointer;
}

/* ---------------- Social Links ---------------- */
.social-links {
  flex: 1;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-links a {
  color: #ccc;
  text-decoration: none;
  background-color: black;
  padding: 8px;
  border-radius: 6px;
  margin-right: auto;
  transition: transform 0.5s ease-in-out;
}

.social-links a:hover {
  color: #ffffff;
  transform: scale(1.12);
}

/* ---------------- Dark Mode Button ---------------- */
.dark-btn {
  position: fixed;
  top: 70px;
  left: 20px;
  padding: 5px 8px;
  font-size: 0.8rem;
  border: none;
  border-radius: 20px;
  background-color: #0d0c0c;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}