*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;    
}

.navbar {
  display: flex;
  align-items: center;             
  justify-content: space-between;  
  padding: 10px 10px 10px 0px; 
          
}
.Dev{
  font-size: 1.7rem;
  margin:0;
  display:inline-block;
  font-weight: bold;
  
}
.nav-menu{
  display: flex;
  gap: 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}
.navbar:hover{
  cursor: pointer;
}
.main-body{
  margin: 50px auto;
  text-align: center;
}
.p1,.p4{
  font-size: 1.2rem;
}
.p2{
  font-size: 3rem;
   font-weight: bold;
}
.p3{
  font-size: 2.2rem;
}
img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.work-display{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}
button{
  padding: 0px 7px;
  font-size: 1rem;
  border: none;
  border-radius: 15px;
  background-color: #08a36f;
  color: white;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
button:hover{
  background-color: #066a4a;
  transform: scale(1.05);
}
a{
  transition: transform 0.5s ease-in-out;
}
a:hover{
  transform: scale(1.1);
}